.DS_Store

data/*
cache/*

.CondaPkg
src/__pycache__
results/notebooks/__pycache__
results/notebooks/.ipynb_checkpoints
results/cluster-scripts/output
results/cluster-scripts/tmp

results/revision/FIG6/graphs

results/GermanyFloods/q09950
results/GermanyFloods/q09980
results/GermanyFloods/q09990

GermanyFloods/figs

germanyFloods/data
germanyFloods/interactive-maps

data_LFS/haz/rim2019
data_LFS/haz/rim2019/downscale
data_LFS/haz/rim2019/nuts3/tifs
data_LFS/haz/rim2019/nuts3/hospital-access
data_LFS/haz/rim2019/0303_downscale_20240629
#data_LFS/haz/rim2019/0303_downscale_20240629.zip

cluster-out

env

#visual studo
.vscode

#pydev/eclipse project files
.project
.pydevproject
.settings


#python cache
__pycache__

#profiling
profile.html
definitions.py

#GIS
*.tif.aux.xml
*.geojson
*.pdf
*.tif
*.zip

*.html

*.sh
*.csv
*.pkl
*.log
/.pytest_cache/
